{% extends 'layout.html' %}
{% block title %}
  解答ページ
{% endblock %}
{% block content %}

  <body style="background-color: pink">
    <div id="form_page" style="background-color: white; position:relative; height:900px; top: -30px;">
      <submit id="post">
        <div id="company_name">
          <a class="navbar-brand" href="{{ url_for('app.my_top_page') }}">
            <img src="{{ url_for('static', filename='nifty_new_life_logo (2).png') }}" style="width: 300px; position: relative; left:10%; top:20px;">
          </a>
        </div>
        <!-- タイトル -->

        <h2 style="position: relative; left:130px">{{ thread.title }}</h2>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://setsuzoku.nifty.com/" style="position:relative; left:130px;">光ファイバー</a>
            <!--<a class="nav-link" href="{{ url_for('app.auth.signup') }}">タグ1</a>-->
            <!--<a href="{{ url_for('app.top_page') }}" class="btn btn-primary mb-4">新しいトップページへ</a>-->
          </li>
        </ul>
        <h2 style="position:relative; left:130px;">質問内容：</h2>
        <p style="position:relative; left:130px; width: 1040px;">{{ thread.description }}</p>
        <h2 style="position:relative; left:130px;">回答：</h2>
        {% for answer in answers %}
          <div style="position:relative; left:130px; width: 1040px; margin-bottom: 20px; border: 1px solid #ddd; padding: 10px;">
            <p>{{ answer.description }}</p>
          </div>
        {% endfor %}

        <a class="nav-link" href="{{ url_for('app.auth.login')}}">
          <button type="button" class="btn btn-primary btn-lg" btn-primary="btn-primary" btn-lg”="btn-lg”" id="post_btn" style="top:10px; position:relative; width: 1040px; left:130px;">回答するにはログインしてください</button>
        </a>
      </submit>
      <br><br>
      <a href="{{ url_for('app.top_page') }}" style="position: relative; left:10%; top: 20px;">トップページに戻る</a>
    </body>

  {% endblock %}
