{% extends 'layout.html' %}
{% block title %}
  トップページ
{% endblock %}
{% block content %}
  <submit id="post">
    <!-- 下書き保存ボタン -->
    <button type="button" class="btn btn-primary btn-lg" id="pre_editor_btn">下書き保存</button>
    <!-- 投稿ボタン -->
    <button type="button" class="btn btn-primary btn-lg" id="post_btn">投稿</button>
    <!-- タイトル -->
    <h2>タイトル</h2>
    <input type="text" class="form-control" id="title_edior" placeholder="タイトルを記入"><br>
    <!-- タグ -->
    <h2>タグを選んでください</h2>
    <select name="tag_list_data">
      <option>光ファイバー</option>
      <option>MVNOサービス</option>
      <option>ルーターレンタル</option>
      <option>エアコン</option>
      <option>パソコン</option>
    </select>
    <!--<h2>タグ</h2> <input type="text" class="form-control" id="tag_editor" placeholder="タグを記入"><br>-->
    <!-- 本文 -->
    <h2>本文</h2>
    <textarea id="qa_editor" placeholder="困りごとを記入してください" style="width: 100%; height: 300px;"></textarea><br>
    <a href="{{ url_for('app.my_top_page') }}">トップページに戻る</a>
  </submit>
{% endblock %}