{% extends 'layout.html' %}

{% block title %}
  トップページ
{% endblock %}

{% block content %}

  <!-- signup_header -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('app.my_top_page') }}">@nifty 新生活</a>
        <div class="navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <span class="nav-link">ようこそ
                {{ user.username }}
                さん。</span>
            </li>
            <li class="nav-item">
              <i class="nav-link fa-solid fa-circle-user"></i>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- 複数のカード -->
  <ul class="mt-4 nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">未解決</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">解決済み</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <div card-group="card-group" class="mb-6">
        <div class="card mt-3">
          <a class="nav-link" href="{{ url_for('app.answer')}}">
            <div class="card-body">
              <h5 class="card-title">未解決</h5>
              <p class="card-text">カードの内容を記述します。カードの内容を記述します。カードの内容を記述します。</p>
            </div>
          </a>
        </div>
        <div class="card mt-3">
          <a class="nav-link" href="{{ url_for('app.answer')}}">
            <div class="card-body">
              <h5 class="card-title">未解決</h5>
              <p class="card-text">カードの内容を記述します。カードの内容を記述します。カードの内容を記述します。</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <div card-group="card-group" class="mb-6">
        <div class="card mt-3">
          <a class="nav-link" href="{{ url_for('app.answer')}}">
            <div class="card-body">
              <h5 class="card-title">解決済み</h5>
              <p class="card-text">カードの内容を記述します。カードの内容を記述します。カードの内容を記述します。</p>
            </div>
          </a>
        </div>
        <div class="card mt-3">
          <a class="nav-link" href="{{ url_for('app.answer')}}">
            <div class="card-body">
              <h5 class="card-title">解決済み</h5>
              <p class="card-text">カードの内容を記述します。カードの内容を記述します。カードの内容を記述します。</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- 投稿ボタン右下 -->
  <div class="fixed-bottom text-end me-4 mb-4">
    <a class="nav-link" href="{{ url_for('app.form')}}">
      <button type="button" class="btn btn-primary btn-lg">
        投稿する
      </button>
    </a>
  </div>

{% endblock %}