{% extends 'layout.html' %}

{% block title %}
  トップページ
{% endblock %}

{% block content %}
  <!-- signup_header -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">nifty 新生活</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('app.auth.signup') }}">新規登録</a>
              <!--<a href="{{ url_for('app.top_page') }}" class="btn btn-primary mb-4">新しいトップページへ</a>-->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('app.auth.login')}}">ログイン</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- 複数のカード -->
  <div card-group="card-group" class="mb-6">
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">カードタイトル</h5>
        <p class="card-text">カードの内容を記述します。カードの内容を記述します。カードの内容を記述します。</p>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">カードタイトル</h5>
        <p class="card-text">カードの内容を記述します。カードの内容を記述します。カードの内容を記述します。</p>
      </div>
    </div>
  </div>

  <!-- 投稿ボタン右下 -->
  <div class="fixed-bottom text-end me-4 mb-4">
    <button type="button" class="btn btn-primary btn-lg rounded-circle">
      <i class="fas fa-plus"></i>
    </button>
  </div>

{% endblock %}